/* Large desktop screens */
@media all and (min-width: 1000px) {

    /* Home page configuration for large screens allowing three articles to appear on one row */
    main #maincontent {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "map map map"
            ". search ."
            "list list list";
        align-items: stretch;
        background-color: #fdfdfd;
        margin: auto;
    }

    .filter-options {
        grid-area: search;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            " header select select";
        width: 100%;
        height: 80px;
        background-color: darkgreen;
        align-items: center;
    }

    .filter-options select {
        min-width: 500px;
        max-width: 100%;
    }

    #restaurants-list {
        grid-area: list;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        grid-gap: 1rem;
        background-color: white;
        list-style: none;
        margin: auto;
        padding: 30px 15px 60px;
    }

    #restaurants-list li {
        align-self: center;
        background-color: white;
        border: 2px solid #ccc;
        margin: 15px;
        min-height: 380px;
        padding: 0;
        text-align: left;
      }

      #restaurants-list > .restaurant-img {
        display: block;
        background-color: #ccc;
        width: 100%;
        margin: auto;
      }

      #inside {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: start;
        align-content: top;	
        grid-gap: 1rem;
        grid-template-areas:
        "map map"
        "detail reviews";
        background-color: #fdfdfd;
        margin: auto;
        
      }

      #restaurant-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
      }


      #restaurant-container {
        grid-area: detail;
        align-content: start;
        height: 100%;
      }

      #reviews-container {
        grid-area: reviews;
        align-self: start;
      }
}